body {
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
}

.bounce {
  animation: bounce 1.5s infinite;
}
